---
import { Button } from 'tint/components/index'
import ShareButton from '@src/components/ShareButton.svelte'
import iconArrowLeft from 'tint/icons/20-arrow-left.svg?raw'
import iconArrowRight from 'tint/icons/20-arrow-right.svg?raw'
import { comicDateFormatter, type ComicProps } from '@src/comic-data'
import OptimizedImg from './OptimizedImg.astro'

type Props = ComicProps
const { title, date, alt, panelFiles, Content, comicId, nextComic, prevComic } =
  Astro.props
---

<div class="header">
  <h1 class="tint--type-title-serif-2">{title}</h1>
  <time datetime={date.toISOString()}>{comicDateFormatter.format(date)}</time>
</div>

<section class="sections">
  <OptimizedImg
    src={panelFiles[0]}
    alt={alt ? alt[0] : 'Sorry, older comics do not have alt-text.'}
  />
  {
    parseInt(comicId) <= 41 && panelFiles[1] && (
      <details>
        <summary>Hidden panel?</summary>
        <OptimizedImg
          src={panelFiles[1]}
          alt={alt ? alt[1] : 'Sorry, older comics do not have alt-text.'}
        />
      </details>
    )
  }
  {
    parseInt(comicId) > 41 &&
      panelFiles
        .slice(1)
        .map((file, i) => (
          <OptimizedImg
            src={file}
            alt={alt ? alt[i + 1] : 'Sorry, older comics do not have alt-text.'}
          />
        ))
  }
</section>

<div class="footer">
  <div class="text tint--type-body-serif">
    <Content />
  </div>
  <nav>
    <Button
      aria-label="Previous comic"
      icon={true}
      disabled={prevComic === undefined}
      href={`/comic/${prevComic}`}
    >
      <Fragment set:html={iconArrowLeft} />
    </Button>
    <ShareButton client:idle comicId={comicId} />
    <Button
      aria-label="Next comic"
      icon={true}
      disabled={nextComic === undefined}
      href={`/comic/${nextComic}`}
    >
      <Fragment set:html={iconArrowRight} />
    </Button>
  </nav>
</div>

<style lang="sass">
  .header
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-block-end: tint.$size-8
    h1
      margin: 0
    time
      font-size: tint.$size-16
      color: var(--text-secondary)
  .content
    max-width: 720px
    margin: 0 auto
    padding-block-end: tint.$size-16
    padding-inline: tint.$size-16
  .sections
    display: grid
    grid-template-columns: 1fr
    width: 100%
    grid-gap: tint.$size-8
    details
      summary
        cursor: pointer
        padding: tint.$size-8
        background: var(--tint-bg)
        border: 1px solid var(--tint--card-border)
        border-radius: tint.$size-4
        margin-bottom: tint.$size-8
        user-select: none
        &:hover
          background: var(--tint--card-bg-hover)
      &[open] summary
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        margin-bottom: 0

  .footer
    margin-block-start: 12px
    display: grid
    grid-template-columns: auto 1fr
    gap: tint.$size-16
    grid-template-areas: "nav text"
    nav
      grid-area: nav
      display: flex
      gap: tint.$size-8
    .text
      grid-area: text
      margin-block-start: 14px
      :global(.hidden)
        display: inline-block
        padding: tint.$size-8
        margin-block-start: tint.$size-8
        background: var(--tint-bg)
        border: 1px solid var(--tint--card-border)
        border-radius: tint.$size-8
        opacity: 0
        transition: opacity 0.2s ease-in-out
        background: repeating-linear-gradient(45deg,#FFF8F5,#FFF8F5 10px,#FFFDFC 10px, #FFFDFC 20px)
        @media (prefers-color-scheme: dark)
          background: repeating-linear-gradient(45deg,#271614,#271614 10px,#1C1312 10px, #1C1312 20px)
        &:hover, &:focus
          opacity: 1
</style>
